

body {
    font-family: "Montserrat";
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 2px;
}

h2 {
    font-weight: 600;
    font-size: 40px;
}

h3 {
    font-weight: 400;
    font-size: 30px;
}

@media(max-width:1024px) {
    h2 {
        font-size: 30px;
    }
}

p{
    font-size: 18px;
}

/* NavBar */

/* .navbar {
    padding: 1rem 0 1rem;
} */

#titulo {
    background-color: #f6f6f6;
}

.nav-link {
    margin: 0rem 2.5rem;
    font-size: 18px;
}

.nav-item {
    font-weight: 500;
}

.activo-nav{
    border-bottom: 2px solid  #781A23 ;
    color: black;
}

.nav-bar-brand {
    margin: 5% 10%;
}

.navbar-toggler {
    margin-right: 0.5rem;
}

/* TextoPrincipal */

.title-section {
    background-color: #889832;
    color: white;
    padding: 5%;
}


.row {
    max-width: 100%;
    margin: 0%;
    padding: 0%;
}

.padd-carous {
    padding: 0% 0% 0% 0%;
}

.img-carousel {
    padding: 0px;
    width: 100%;
}

/* Seccion-eslogan */

.segunda-index h2 {
    text-align: center;
    padding: 3% 0%;
}

.segunda-index {
    padding: 5% 20%;
    background-color: #f8f8f8f8;
    color: black;
}


@media (max-width: 1024px) {
    .segunda-index {
        text-align: justify;
    }
}

/* Productos-pag-principal */

.ver-mas {
    text-align: center;
    padding: 2rem 4rem 3rem;
}

.boton-ver-mas {
    width: 30%;
    color: white;
    background-color: #781A23;
    border-style: solid;
    border-color: #781A23;
    border-width: 2px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 400;
}

.boton-ver-mas:hover {
    color: black;
    background-color: white;
    border-style: solid;
    border-color: #781A23;
    border-width: 2px;
}

.productos-index {
    padding: 6% 10%;
    padding-bottom: 0em;
    text-align: center;
}

.card {
    text-align: center;
    border: none;
    width: 100%;
}

.card-title {
    color: #889832;
    font-size: 130%;
    text-overflow: ellipsis;
    padding: 2rem 0.8rem;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .foto-contenedor {
        margin: 0 auto;
    }
}

/* Contacto-pag-principal */

#contacto-principal {
    margin: 4rem 0;
}

.cont-index {
    color: #889832;
}

.contacto-index {
    padding: 5% 5%;
    background-color: #0C201C;
    color: white;
}

@media (max-width: 1280px) {
    .contacto-index {
        padding: 5% 5% 80px;
    }

    .mapa-ubicacion {
        height: 650px;
    }
}

.datos-contacto-lista-principal {
    letter-spacing: 1.5px;
    list-style: none;
    line-height: 3;
}

/* Footer */

footer {
    text-align: center;
}

.fa-facebook-f {
    margin: 0.5rem;
}

.fa-instagram {
    margin: 0.5rem;
}

.envelope-footer {
    margin: 0.5rem;
}

/* CONTACTO */

#contacto {
    position: relative;
    background-color: #889832;
}

.datos-contacto {
    padding: 8% 8%;
    color: white;
    margin: auto 0 auto 0;
}

.texto-contacto h2 {
    margin: auto;
    margin-bottom: 5%;
    text-align: center;
}


@media (max-width: 1280px) {
    .datos-contacto {
        padding: 10% 10%;
    }
}

.datos-contacto-lista {
    list-style: none;
    line-height: 3;
    letter-spacing: 1.5px;
}

.fa-map-marker-alt {
    margin-right: 1rem;
}

.fa-phone {
    margin-right: 1rem;
    transform: rotate(90deg);
}

.fa-envelope {
    margin-right: 1rem;
}

.mapa-ubicacion {
    margin: 0px;
    border: none;
    padding: 0%;
}

/* ABOUT - SECCION EMPRESA */
.header {
    text-align: center;
    padding: 2% 0%;
    /* background-color: #fcf4ce; */
}

.trio-empresa {
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
}

.rojo,
.verde,
.verde-oscuro {
    font-weight: 650;
    font-size: 65px;
}

.rojo {
    color:  #781A23;
}

.verde {
    color: yellowgreen;
}

.verde-oscuro {
    color: darkgreen;
}

.card-exp {
    color: black;
    font-size: 150%;
    text-overflow: ellipsis;
    padding: 2rem 0.8rem;
    font-weight: bold;

}

.card-holder {
    text-align: center;
    width: 100%;
    padding-bottom: 15%;
}

/* SERVICIOS */

.texto-servicios h3{
    font-weight: 700;
    font-size: 40px;
}

.texto-servicios{
    padding: 8%;
}

/* EQUIPOS */

.tit-equipos{
    padding: 3% 10%;
}
.tit-equipos, h2{
    font-weight: 750;
}
.equipos{
    padding: 1% 10%;
}

.tj-equipos{
    /* tarjetas seccion equipos */
    border: 1px solid rgba(0,0,0,.125);
    margin-bottom: 15px;
    overflow: hidden;
}

.tj-equipos .card-img-top{
    transition: .5s;
}

.tj-equipos:hover .card-img-top{
    opacity: .5;
    transform: translateX(50%);
}

.tj-equipos .descripcion-equipos{
    transition: .5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
    padding: 20px;
    text-align: center;
}

.tj-equipos:hover .descripcion-equipos{
    transform: perspective(2000px) rotateY(0deg);
}