body {
    font-family: "Montserrat";
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 2px;
}

h2 {
    font-weight: 600;
    font-size: 40px;
}

h3 {
    font-weight: 400;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.social-logo-link{
    color: black;
}

/* Seccion-eslogan */
.segunda-index h2 {
    text-align: center;
    padding: 3% 0%;
}

.segunda-index {
    padding: 5% 20%;
    background-color: #f8f8f8f8;
    color: black;
}

@media(max-width:1200px) {
    h2 {
        font-size: 30px;
    }

    .segunda-index {
        text-align: justify;
    }

    .title-section h1 {
        font-size: 3rem;
    }

    .title-section h3 {
        font-size: 2rem;
    }

    .title-section p { 
        font-size: 1rem;
    }

    .logo-nav-bar {
        width: 130px;
    }
}

@media(max-width:600px) {
    .title-section h1 {
        font-size: 2rem;
    }

    .title-section h3 {
        font-size: 1.2rem;
    }

    .title-section p {
        font-size: 0.8rem;
    }

    .segunda-index h2 {
        font-size: 1.4rem;
        text-align: center;
        padding: 3% 0%;
    }

    .segunda-index p {
        font-size: 0.8rem;
    }

    .segunda-index {
        padding: 5% 5%;
        background-color: #f8f8f8f8;
        color: black;
    }

    .logo-nav-bar {
        width: 90px;
    }
}

.wsp-img {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    cursor: pointer;
}



.ver-mas {
    text-align: center;
    padding: 2rem 4rem 3rem;
}

.boton-ver-mas {
    width: 30%;
    color: white;
    background-color: #781A23;
    border-style: solid;
    border-color: #781A23;
    border-width: 2px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 400;
}

.boton-ver-mas:hover {
    color: black;
    background-color: white;
    border-style: solid;
    border-color: #781A23;
    border-width: 2px;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    .wsp-img {
        width: 55px;
    }

    .boton-ver-mas {
        width: 70%;
    }
}

/* CELULAR */
@media(max-width:768px) {
    .wsp-img {
        width: 45px;
    }

    .boton-ver-mas {
        width: 100%;
    }
}

p {
    font-size: 18px;
}

/* NavBar */

/* .navbar {
    padding: 1rem 0 1rem;
} */

#titulo {
    background-color: #f6f6f6;
}

.nav-link {
    margin: 0rem 2.5rem;
    font-size: 18px;
}

.nav-item {
    font-weight: 500;
}

.activo-nav {
    border-bottom: 2px solid #781A23;
    color: black;
}

.nav-bar-brand {
    margin: 5% 10%;
}

.navbar-toggler {
    margin-right: 0.5rem;
}

/* TextoPrincipal */

.title-section {
    background-color: #889832;
    color: white;
    padding: 5%;
}


.row {
    max-width: 100%;
    margin: 0%;
    padding: 0%;
}

.padd-carous {
    padding: 0% 0% 0% 0%;
}

.img-carousel {
    padding: 0px;
    width: 100%;
}

/* Productos-pag-principal */

.productos-index {
    padding: 2% 10% 6%;
    padding-bottom: 0em;
    text-align: center;
}

.eq-index-tit{
    font-weight: 600;
    padding-bottom: 2rem;

}
.card {
    text-align: left;
    border: none;
    width: 100%;
}

.card-title {
    color: #889832;
    font-size: 130%;
    text-overflow: ellipsis;
    padding: 2rem 0.8rem;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1024px) {
    .foto-contenedor {
        margin: 0 auto;
    }
}

/* Contacto-pag-principal */

#contacto-principal {
    margin: 4rem 0;
}

.cont-index {
    color: #889832;
}

.contacto-index {
    padding: 5% 5%;
    background-color: #0C201C;
    color: white;
}

@media (max-width: 1280px) {
    .contacto-index {
        padding: 5% 5% 80px;
    }

    .mapa-ubicacion {
        height: 650px;
    }
}

.datos-contacto-lista-principal {
    letter-spacing: 1.5px;
    list-style: none;
    line-height: 3;
}

/* Footer */

footer {
    text-align: center;
    margin-top: 5%;
    position: relative;
    bottom: 1%;
}

.fa-facebook-f {
    margin: 0.5rem;
}

.fa-instagram {
    margin: 0.5rem;
}

.envelope-footer {
    margin: 0.5rem;
}

/* CONTACTO */

#contacto {
    position: relative;
    background-color: #889832;
}

.datos-contacto {
    padding: 8% 8%;
    color: white;
    margin: auto 0 auto 0;
}

.texto-contacto h2 {
    margin: auto;
    margin-bottom: 5%;
    text-align: center;
}


@media (max-width: 1280px) {
    .datos-contacto {
        padding: 10% 10%;
    }
}

.datos-contacto-lista {
    list-style: none;
    line-height: 3;
    letter-spacing: 1.5px;
}

.fa-map-marker-alt {
    margin-right: 1rem;
}

.fa-phone {
    margin-right: 1rem;
    transform: rotate(90deg);
}

.fa-envelope {
    margin-right: 1rem;
}

.mapa-ubicacion {
    margin: 0px;
    border: none;
    padding: 0%;
}

/* ABOUT - SECCION EMPRESA */
.header {
    text-align: center;
    padding: 2% 0%;
    /* background-color: #fcf4ce; */
}

.trio-empresa {
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;
}

h1 .rojo,
h1 .verde,
h1 .verde-oscuro {
    font-weight: 650;
}


.tit-about {
    font-size: 4.5rem;
}

.def-about {
    position: relative;
    padding-bottom: 0.3rem;
}

.r-about {
    margin: 4rem 20% 0rem;

}

.def-about::before {
    content: "";
    background-color: #889832;
    width: 80px;
    height: 5px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.rojo {
    color: #781A23;
}


.verde {
    color: #889832;
}

.verde-oscuro {
    color: darkgreen;
}

.card-exp {
    color: black;
    font-size: 150%;
    text-overflow: ellipsis;
    padding: 2rem 0.8rem;
    font-weight: bold;

}

.card-holder {
    text-align: center;
    width: 100%;
    padding-bottom: 15%;
}

.black {
    color: #212529;
}

.vertically-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.horizontally-centered {
    text-align: center;
    max-width: 100%;
}

.i-about {
    max-width: 100%;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1024px) {
    .tit-about {
        font-size: 3.5rem;
    }

    .def-about {
        padding-bottom: 1.3rem;
    }

    .r-about {
        margin: 4rem 6%;
    }
}

/* CELULAR */
@media(max-width:768px) {
    .tit-about {
        font-size: 2.2rem;
    }

    .t-about {
        font-size: 14px;
    }

    .r-about {
        margin: 4rem 3%;
    }
}

/* SERVICIOS */
.servicios {
    max-width: 100%;
}

.texto-servicios h3 {
    font-weight: 700;
    font-size: 40px;
}

.texto-servicios {
    padding: 8%;
}

.txt-services {
    text-align: justify;
    padding-right: 10%;
    padding-left: 2%;
    background-color: #f8f8f8f8;
}

.div-carous{
    text-align: center;
    margin: 0% auto;
    max-width: 1280px;
}

.d-block{
    max-width: 100%;
}

#carousel-MontajesIndustriales{
    text-align: center;
}


#services .row .col-lg-4 {
    background-color: #889832;
    color: white;
    font-weight: 700;
    text-align: right;
    padding-bottom: 2rem;
}

#services .row .col-lg-4,
#services .row .col-lg-8 {
    padding-top: 2rem;
}

.txt-car1{
    background-color: #0C201C;
}

@media(max-width:990px) {
    #services .row .col-lg-4 {
        background-color: white;
        color: #212529;
        font-weight: 700;
        text-align: center;
        border-top: 3px dotted #212529;
    }

    #services .row .col-lg-8 {
        padding-bottom: 2rem;
    }

    .txt-car1{
        font-size: 80%;
    }
}
@media(min-width:768px){
    .desc-tab{
        display: none;
    }
}

#link-equipos {
    color: #781A23;
}

#link-equipos:hover {
    text-decoration: 2px underline;
    color: #781A23;
}


/* EQUIPOS */

.tit-equipos {
    padding: 2% 10% 1%;
}

.tit-equipos,
h2 {
    font-weight: 750;
}

.txt-equipos{
    padding: 0% 10%

}

.equipos {
    padding: 1% 10%;
}

.tj-equipos {
    /* tarjetas seccion equipos */
    border: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 15px;
    overflow: hidden;
}

.box {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: left;
    position: relative;

}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.tarjeta .overlay {
    background-color: #f8f8f8f8;
    color: #889832;
    transform: translateX(-100%);
    -webkit-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
}

.tarjeta .box:hover .overlay {
    transform: translateX(0);
}

.info-equipo {
    margin: 15%;
}

@media(max-width:1280px) {
    .info-equipo p{
        font-size: 13px;
    }
    .card-title{
        font-size: 18px;
    }
}